@model UniversityGate.Models.Student

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Student</h2>


@using (Html.BeginForm("Edit","Student",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.student_id)
    @Html.HiddenFor(model=> model.UserRole)
    
    <div class="form-horizontal">
        @Html.Partial("_InputFiled")

        <input type="submit" value="SAVE" class="btn btn-outline-success" />
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
